ul {
    list-style-type: none;
}

.header {
    margin-bottom: 0;

    .nes-list {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    li {
        margin-right: 32px;
        font-size: 12px;
    }
}